In [32]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv('mig174.csv', dtype='string', keep_default_na=False)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
#df = df.apply(pd.to_numeric, errors='coerce')
#df2=df.mask(df == '')

In [34]:
df.tail()

,country,commun,surveypl,surveyyr,hhnum,weight,sex,yrborn,age,placebrn,...,localwkr,latinwkr,samejob,samepay,overtime,overtmtp,tempcomp,unempben,embassy,unions
9047,1,174,1,2019,77,4.8239,1,1941,78,0,...,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888
9048,1,174,1,2019,78,4.8239,1,1985,34,0,...,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888
9049,1,174,1,2019,79,4.8239,1,1970,49,0,...,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888
9050,1,174,1,2019,81,4.8239,1,1982,37,0,...,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888
9051,1,174,1,2019,82,4.8239,1,1962,57,0,...,8888,8888,8888,8888,8888,8888,8888,8888,8888,8888

In [35]:
new_df = df[['sex','age','statebrn','marstat','edyrs','occ','@by','usdoc1','usstate1','usocc1','uswage1','usby1','ustrips',
   'usexp','crsst1','crspl1','crshow1','crscoy1','crscst1','crsdep1']]

In [36]:
#new_df

In [37]:
new_df_cleaned = new_df[(new_df != '8888')&(new_df != '9999')&(new_df != '1111')]

In [38]:
feature_names = ['sex','age','statebrn','marstat','edyrs','occ','@by','usdoc1','usstate1','usocc1','uswage1','usby1','ustrips',
   'usexp','crsst1','crspl1','crshow1','crscoy1','crscst1','crsdep1']

for i in range(len(feature_names)):
    new_df = new_df.drop(new_df[(new_df[feature_names[i]]=='1111')].index)
    new_df = new_df.drop(new_df[(new_df[feature_names[i]]=='8888')].index)
    new_df = new_df.drop(new_df[(new_df[feature_names[i]]=='9999')].index)

new_df

,sex,age,statebrn,marstat,edyrs,occ,@by,usdoc1,usstate1,usocc1,uswage1,usby1,ustrips,usexp,crsst1,crspl1,crshow1,crscoy1,crscst1,crsdep1
6,1,37,11,1,6,410,5,8,105,410,2.25,1,2,84,2,4,1,1,150,0
34,1,36,11,2,2,529,5,8,105,410,3.35,1,3,32,2,4,1,1,60,2
48,1,35,11,2,6,559,5,8,105,810,3,1,1,12,2,4,1,1,100,0
77,1,33,11,2,0,810,1,8,129,810,3.1,1,2,114,2,2,1,1,300,0
83,1,20,11,1,9,810,1,8,129,549,4.55,1,1,42,2,4,1,1,350,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9034,1,66,20,2,3,410,3,8,105,812,40,2,1,120,2,4,1,1,300,0
9043,1,50,20,2,3,546,2,8,105,812,50,2,2,72,2,4,1,1,300,0
9047,1,78,20,2,4,410,3,8,105,410,3,1,1,60,2,4,3,1,5000,0
9048,1,34,20,2,6,546,3,8,105,812,70,2,1,24,2,4,3,1,15000,0
9049,1,49,20,2,6,410,3,8,105,812,26,2,2,96,2,4,3,1,300,0

In [39]:
new_df = new_df.astype(float)

In [40]:
new_df

,sex,age,statebrn,marstat,edyrs,occ,@by,usdoc1,usstate1,usocc1,uswage1,usby1,ustrips,usexp,crsst1,crspl1,crshow1,crscoy1,crscst1,crsdep1
6,1.0,37.0,11.0,1.0,6.0,410.0,5.0,8.0,105.0,410.0,2.25,1.0,2.0,84.0,2.0,4.0,1.0,1.0,150.0,0.0
34,1.0,36.0,11.0,2.0,2.0,529.0,5.0,8.0,105.0,410.0,3.35,1.0,3.0,32.0,2.0,4.0,1.0,1.0,60.0,2.0
48,1.0,35.0,11.0,2.0,6.0,559.0,5.0,8.0,105.0,810.0,3.00,1.0,1.0,12.0,2.0,4.0,1.0,1.0,100.0,0.0
77,1.0,33.0,11.0,2.0,0.0,810.0,1.0,8.0,129.0,810.0,3.10,1.0,2.0,114.0,2.0,2.0,1.0,1.0,300.0,0.0
83,1.0,20.0,11.0,1.0,9.0,810.0,1.0,8.0,129.0,549.0,4.55,1.0,1.0,42.0,2.0,4.0,1.0,1.0,350.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9034,1.0,66.0,20.0,2.0,3.0,410.0,3.0,8.0,105.0,812.0,40.00,2.0,1.0,120.0,2.0,4.0,1.0,1.0,300.0,0.0
9043,1.0,50.0,20.0,2.0,3.0,546.0,2.0,8.0,105.0,812.0,50.00,2.0,2.0,72.0,2.0,4.0,1.0,1.0,300.0,0.0
9047,1.0,78.0,20.0,2.0,4.0,410.0,3.0,8.0,105.0,410.0,3.00,1.0,1.0,60.0,2.0,4.0,3.0,1.0,5000.0,0.0
9048,1.0,34.0,20.0,2.0,6.0,546.0,3.0,8.0,105.0,812.0,70.00,2.0,1.0,24.0,2.0,4.0,3.0,1.0,15000.0,0.0
9049,1.0,49.0,20.0,2.0,6.0,410.0,3.0,8.0,105.0,812.0,26.00,2.0,2.0,96.0,2.0,4.0,3.0,1.0,300.0,0.0

In [41]:
for i in range(len(new_df)):
    if (new_df.at[i, 'crsdep1'] > 0):
        new_df.at[i, 'crsdep1'] = 1.0
    if (new_df.at[i, 'crsdep1'] == 0):
        new_df.at[i, 'crsdep1'] = 0.0

KeyError: 0

In [ ]:
new_df