In [23]:
# importing necessary packages
import numpy as np
import pandas as pd

In [24]:
# reading in the data set
df = pd.read_csv('mig174.csv', dtype='string', keep_default_na=False)

In [25]:
# selecting features
new_df = df[['sex','age','statebrn','marstat','edyrs','occ','@by','usdoc1','usstate1','usocc1','uswage1','usby1',
             'ustrips','usexp','crsst1','crspl1','crshow1','crscoy1','crscst1','crsdep1']]

In [26]:
# removing all 1111s (Border was crossed by airplane), 8888s (N/A), or 9999s (Unknown)

feature_names = ['sex','age','statebrn','marstat','edyrs','occ','@by','usdoc1','usstate1','usocc1','uswage1','usby1','ustrips',
   'usexp','crsst1','crspl1','crshow1','crscoy1','crscst1','crsdep1']

for i in range(len(feature_names)):
    new_df = new_df.drop(new_df[(new_df[feature_names[i]]=='1111')].index)
    new_df = new_df.drop(new_df[(new_df[feature_names[i]]=='8888')].index)
    new_df = new_df.drop(new_df[(new_df[feature_names[i]]=='9999')].index)

In [27]:
# converting strings to floats to train models
new_df = new_df.astype(float)

In [28]:
# converting targets to binary values
new_df.loc[new_df['crsdep1'] > 0, 'crsdep1'] = 1
new_df

,sex,age,statebrn,marstat,edyrs,occ,@by,usdoc1,usstate1,usocc1,uswage1,usby1,ustrips,usexp,crsst1,crspl1,crshow1,crscoy1,crscst1,crsdep1
6,1.0,37.0,11.0,1.0,6.0,410.0,5.0,8.0,105.0,410.0,2.25,1.0,2.0,84.0,2.0,4.0,1.0,1.0,150.0,0.0
34,1.0,36.0,11.0,2.0,2.0,529.0,5.0,8.0,105.0,410.0,3.35,1.0,3.0,32.0,2.0,4.0,1.0,1.0,60.0,1.0
48,1.0,35.0,11.0,2.0,6.0,559.0,5.0,8.0,105.0,810.0,3.00,1.0,1.0,12.0,2.0,4.0,1.0,1.0,100.0,0.0
77,1.0,33.0,11.0,2.0,0.0,810.0,1.0,8.0,129.0,810.0,3.10,1.0,2.0,114.0,2.0,2.0,1.0,1.0,300.0,0.0
83,1.0,20.0,11.0,1.0,9.0,810.0,1.0,8.0,129.0,549.0,4.55,1.0,1.0,42.0,2.0,4.0,1.0,1.0,350.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9034,1.0,66.0,20.0,2.0,3.0,410.0,3.0,8.0,105.0,812.0,40.00,2.0,1.0,120.0,2.0,4.0,1.0,1.0,300.0,0.0
9043,1.0,50.0,20.0,2.0,3.0,546.0,2.0,8.0,105.0,812.0,50.00,2.0,2.0,72.0,2.0,4.0,1.0,1.0,300.0,0.0
9047,1.0,78.0,20.0,2.0,4.0,410.0,3.0,8.0,105.0,410.0,3.00,1.0,1.0,60.0,2.0,4.0,3.0,1.0,5000.0,0.0
9048,1.0,34.0,20.0,2.0,6.0,546.0,3.0,8.0,105.0,812.0,70.00,2.0,1.0,24.0,2.0,4.0,3.0,1.0,15000.0,0.0
9049,1.0,49.0,20.0,2.0,6.0,410.0,3.0,8.0,105.0,812.0,26.00,2.0,2.0,96.0,2.0,4.0,3.0,1.0,300.0,0.0